.what {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	font-size:35px;
	width:200px;
	height:200px;
	background-color:#072BB8;
	

}





.time {
	font-family:Lucida;
	font-weight: lighter;
	color: white;
	font-size:20px;
	position:fixed;
	bottom:0px;
	background-color:#072BB8;
	width:200px;
	height:450px;
	text-align:left;

}

.Vbar {
	width:10px;
	height:400px;
	background-color:black;
	top:150px;
	right:30%;
	position:absolute;
	
}

.sentence {

color:black;
  -webkit-text-stroke: 1px  ;
  font-size:50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  text-align:right;
  width:550px;
  height:300px;
  top:150px;
  right:35%;  
  position:absolute;
line-height: 70px;

}
.subtitle{
color: black;
font-size: 20px;
font-family:Lucida;
font-weight: lighter;
}


.menu a {
	text-decoration:none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	color:black;
	font-size: 20px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 80px;
	border: 3px;
	border-style: solid;
			
  }
  
  .menu a:hover {
	color:white;
	text-decoration: underline;
  }


  .link a {
	text-decoration:none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	color:black;
	font-size: 20px;
	position: fixed;
	bottom: 100px;
	right: 10px;
	width: 80px;
	border: 3px;
	border-style: solid;
	
	
	
  }
  
  .link a:hover {
	color:white;
	text-decoration: underline;
  }