
body {
	font-size: 28px;
	font-family: futura;
	
	
  }
  
  .book {
	display: flex;
	flex-wrap: wrap;
  }
  
  .page {
	height: 100vh;
	width: 50%;
	overflow: scroll;
	color:greenyellow;
		
  }
   
  

  .page1 {
	border-right: 1px solid black;
	color: rebeccapurple;
  }

  .page p {
	margin-bottom: 28px;
	margin-top: 50px;
	
  }

  .content {
	padding: 25px;
	font-size: 25px;
	background-color:lightgray;
	font-family: Bookerly, serif;
	color:#303030;
  }
  
 .titleright{
	 color: blue;
 }
